# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
ENV/

# Instance folder (local sqlite DB)
instance/*.db
instance/*.sqlite3

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# VS Code
.vscode/

# macOS
.DS_Store
